@import '_layout';
@import '_header_index';
@import '_hero_index';
@import '_step_index';
@import '_restaurants_index';
@import '_loader_index';
@import '_footer_index';

/*-----------------MEDIA QUERIES-----------------*/

@media screen and (min-width: 768px) {
  .header__logo-img {
    height: 45px;
  }

  .hero {
    h3 {
      margin-bottom: 12px;
      font-size: 24px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .steps-section {
    width: 60%;
    margin: 0 auto;
    padding: 70px 0;

    h3 {
      margin-bottom: 20px;
      font-size: 18px;
    }

    .steps {
      flex-direction: row;

      li {
        margin-right: 30px;
        margin-bottom: 0px;
        width: auto;
        flex: 1;
        border-radius: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .restaurants-container {
    width: 60%;

    h3 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .cards {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .card__img {
        height: 200px;
      }

      .card__content {
        padding: 20px;

        h3 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer {
    &__content {
      flex-direction: row;
      justify-content: end;
      align-items: center;
      width: 92%;
      height: 100%;
      color: $white;

      h3 {
        margin-right: 20px;
        margin-left: 10px;
        font-size: 1.125rem;
        margin: 15px 0;
      }

      p {
        font-size: 14px;
        margin-right: 10px;
      }

      &-i {
        margin-right: 20px;

        i {
          margin-right: 10px;
          font-size: 20px;
        }
      }

      .first {
        order: 1;
        margin-bottom: 0;
      }

      .second {
        order: 2;
        margin-bottom: 0;
      }

      .third {
        order: 3;
        margin-bottom: 0;
      }

      .fourth {
        order: 4;
        margin-bottom: 0;
      }

      .five {
        order: 5;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .steps-section {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;

    h3 {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
}
