/* INDEX */
/***header***/
/* LAYOUT */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

/*** header_images logo ***/
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-color: #ffffff;
}
.logo img {
  width: 197px;
}

/*** bouton ***/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  border: none;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  margin: 40px 0px 40px 0px;
}
.btn:hover {
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
  transition: 0.2s ease-in-out;
}

/****heart icon****/
.fa-heart {
  border: none;
  background-color: #f6f6f6;
  padding: 0;
}
.fa-heart .fa-solid.fa-heart {
  opacity: 0;
  background-image: linear-gradient(to top, #8641d8, #ff60d3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.fa-heart .fa-regular.fa-heart {
  opacity: 1;
}
.fa-heart:hover .fa-solid.fa-heart {
  opacity: 1;
}

/*** footer ***/
footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px 22px 25px;
}
footer h2 {
  font-family: shrikhand;
  font-size: 1.5rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer i {
  font-size: 1.5rem;
  padding-left: 12px;
}

/**** Variables ****/
/**** Styles ****/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header__logo {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.1);
}

.header__logo-img {
  height: 25px;
}

.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #eaeaea;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgb(146, 143, 143);
  border-bottom: 2px solid rgb(179, 175, 175);
}
.header__location i {
  margin-right: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #f6f6f6;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.1);
}
.hero h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.hero p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.hero button {
  background: linear-gradient(0deg, rgb(185, 118, 224) 33%, rgb(250, 139, 223) 70%);
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}
.hero button:hover {
  opacity: 0.8;
  background: linear-gradient(349deg, rgb(185, 118, 224) 33%, rgb(250, 139, 223) 70%);
}

.steps-section {
  width: 90%;
  margin: 0 auto;
  padding: 70px 0;
}
.steps-section h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.steps-section .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.steps-section .steps li {
  display: flex;
  width: 90%;
  position: relative;
  margin-right: 0px;
  margin-bottom: 12px;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.steps-section .steps li:hover p {
  color: rgb(250, 139, 223);
}
.steps-section .steps li:last-child {
  margin-right: 0;
}
.steps-section .steps li span {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(187, 6, 187);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
}
.steps-section .steps li i {
  margin-right: 20px;
}

.restaurants {
  padding: 70px 0;
  background-color: #f6f6f6;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants-container {
  width: 90%;
  margin: 0 auto;
}
.restaurants .restaurants-container h3 {
  margin-bottom: 20px;
  font-size: 24px;
}
.restaurants .restaurants-container .cards {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 400px;
}
.restaurants .restaurants-container .cards .card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
  position: relative;
  color: #353535;
}
.restaurants .restaurants-container .cards .card__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants-container .cards .card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.restaurants .restaurants-container .cards .card__content h3 {
  margin-bottom: 10px;
}
.restaurants .restaurants-container .cards .card__content p {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 0px 20px 20px 20px;
}
.restaurants .restaurants-container .cards .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0px 20px;
}
.restaurants .restaurants-container .cards .card__header i {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.restaurants .restaurants-container .cards .card__header i:hover {
  color: rgb(250, 139, 223);
}
.restaurants .restaurants-container .cards .card .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 3px;
}

.footer {
  display: flex;
  width: 100%;
  height: 186px;
  background-color: #353535;
  align-items: center;
  justify-content: center;
}
.footer__content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #ffffff;
  justify-content: center;
}
.footer__content h3 {
  font-size: 1.125rem;
  color: #ffffff;
  font-family: "Shrikhand", serif;
  margin: 15px 0;
}
.footer__content p {
  font-size: 14px;
}
.footer__content-i {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.footer__content-i i {
  margin-right: 10px;
  font-size: 20px;
}
.footer__content .first {
  order: 2;
  margin-bottom: 10px;
}
.footer__content .second {
  order: 3;
  margin-bottom: 10px;
}
.footer__content .third {
  order: 4;
  margin-bottom: 10px;
}
.footer__content .fourth {
  order: 5;
  margin-bottom: 10px;
}
.footer__content .five {
  order: 1;
}

/*-----------------LOADER-----------------*/
.overlay {
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #99e2d0;
  opacity: 0;
  animation: loader 3000ms cubic-bezier(0, 0, 0.58, 1) forwards 1;
  position: fixed;
  animation: myloader 3000ms cubic-bezier(0, 0, 0.58, 1) forwards 1;
}

.load {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: myloader 3000ms cubic-bezier(0, 0, 0.58, 1) forwards 1;
}
.load__letters {
  display: flex;
  font-size: 3.1rem;
  font-family: "Shrikhand", serif;
}
.load__letters .letter-1 {
  animation: letter_loader 2300ms ease-in 150ms 4;
}
.load__letters .letter-2 {
  animation: letter_loader 2300ms ease-in 300ms 4;
}
.load__letters .letter-3 {
  animation: letter_loader 2300ms ease-in 450ms 4;
}
.load__letters .letter-4 {
  animation: letter_loader 2300ms ease-in 600ms 4;
}
.load__letters .letter-5 {
  animation: letter_loader 2300ms ease-in 750ms 4;
}
.load__letters .letter-6 {
  animation: letter_loader 2300ms ease-in 900ms 4;
}
.load__letters .letter-7 {
  animation: letter_loader 2300ms ease-in 1050ms 4;
}
.load__letters .letter-8 {
  animation: letter_loader 2300ms ease-in 1200ms 4;
}
.load .load__bar {
  display: flex;
  position: relative;
  background: #ffffff;
  width: 220px;
  height: 3px;
  transform-origin: left;
  animation: loader__bar 3000ms ease-in-out backwards;
  margin-top: 10px;
}

@keyframes loader__bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  20% {
    transform: scaleX(0.2);
  }
  40% {
    transform: scaleX(0.4);
  }
  60% {
    transform: scaleX(0.6);
  }
  80% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes letter_loader {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  20% {
    opacity: 1;
    transform: scaleY(2);
  }
  40% {
    opacity: 1;
    transform: scaleY(1);
  }
  60% {
    opacity: 1;
    transform: scaleY(2);
  }
  80% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes myloader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*-----------------MEDIA QUERIES-----------------*/
@media screen and (min-width: 768px) {
  .header__logo-img {
    height: 45px;
  }
  .hero h3 {
    margin-bottom: 12px;
    font-size: 24px;
  }
  .hero p {
    margin-bottom: 20px;
  }
  .steps-section {
    width: 60%;
    margin: 0 auto;
    padding: 70px 0;
  }
  .steps-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .steps-section .steps {
    flex-direction: row;
  }
  .steps-section .steps li {
    margin-right: 30px;
    margin-bottom: 0px;
    width: auto;
    flex: 1;
    border-radius: 50px;
  }
  .steps-section .steps li:last-child {
    margin-right: 0;
  }
  .restaurants-container {
    width: 60%;
  }
  .restaurants-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .restaurants-container .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .restaurants-container .cards .card__img {
    height: 200px;
  }
  .restaurants-container .cards .card__content {
    padding: 20px;
  }
  .restaurants-container .cards .card__content h3 {
    margin-bottom: 10px;
  }
  .footer__content {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 92%;
    height: 100%;
    color: #ffffff;
  }
  .footer__content h3 {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 1.125rem;
    margin: 15px 0;
  }
  .footer__content p {
    font-size: 14px;
    margin-right: 10px;
  }
  .footer__content-i {
    margin-right: 20px;
  }
  .footer__content-i i {
    margin-right: 10px;
    font-size: 20px;
  }
  .footer__content .first {
    order: 1;
    margin-bottom: 0;
  }
  .footer__content .second {
    order: 2;
    margin-bottom: 0;
  }
  .footer__content .third {
    order: 3;
    margin-bottom: 0;
  }
  .footer__content .fourth {
    order: 4;
    margin-bottom: 0;
  }
  .footer__content .five {
    order: 5;
  }
}
@media screen and (min-width: 1200px) {
  .steps-section {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
  }
  .steps-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
}